<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Baby steps, untie your knots...</h1>
    <form action="/processform", method="POST">
        <label>First Name</label>
        <input name="first_name" type="text">
        <br>
        <label>Last Name</label>
        <input name="last_name" type="text">
        <br>
        <label>Home Address</label>
        <input name="address" type="text">
        <br>
        <input type="hidden" value="5" name="user_id">
        <button>Send</button>
    </form>
</body>
</html>